.zoomIn-css {
  transition: 0.8s ease-in-out;
}

.LimgDiv-css {
  transition: 0.8s ease-in-out;
  display: flex;
  justify-items: center;
  align-items: end;
}

.MimgDiv-css {
  transition: 0.8s ease-in-out;
}

.RimgDiv-css {
  transition: 0.8s ease-in-out;
}

.showContent-css:hover .zoomIn-css {
  transform: scale(1.05);
}

.showContent-css:hover .LimgDiv-css{
    background-color: rgb(173, 20, 20, 0.8);
    display: flex;
    justify-content: end;
    transition-property: justify-content; /* Specify the properties to transition */
  transition-duration: 0.3s; /* Duration of the transition */
  transition-timing-function: ease;
}

.showContent-css:hover .MimgDiv-css{
    background-color: rgb(0, 0, 0, 0.8);
}

.showContent-css:hover .RimgDiv-css{
    background-color: rgb(0,0,92, 0.8);
}